.button {
    background: $blue;
    color: white;
    display: inline;
    border: none;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    text-decoration: none;
    line-height: 1;
}

.button--link{
    background: none;
}
